{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-console": "warn",
    "no-unused-vars": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_handleResponse"
        ]
      }
    ]
  }
}